@charset "UTF-8";

/* Navigation bar */
.header {
	color:#fff!important;
	background-color:#000!important;
  	overflow: hidden; /* Hide overflow */
}

/* Navigation bar links */
.header a {
  	display: block; /* Change the display to block, for responsive reasons (see below) */
  	color: white; /* White text color */
}

/* Navigation bar images */
.header img {
    max-width: 10%;
    max-height: 10%;
}

.box {
   	display: flex;
   	align-items:center;
}

.btn {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
  position: relative;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.single-row-input {
  border: 1px solid green; /* Green border */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%;
  display: block; /* Make the buttons appear below each other */
}

.textarea-input {
	resize: none;
  	border: 1px solid green; /* Green border */
  	padding: 10px 24px; /* Some padding */
  	cursor: pointer; /* Pointer/hand icon */
  	width: 100%;
  	height: 100%;
  	display: block; /* Make the buttons appear below each other */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.form-resize {
	width: 95%;
	height: 100%;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.content {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.menu {
  grid-column: 1;
  grid-row: 1 / 3;
}


 



